h1, P{
    text-align: center;
    background-color: red;
}
body{
    background-color:blueviolet;
    color: white;;
}
#GrandTotal
{
    background-color: violet;
}  
#TotalCalc
{
    background-color: yellow;
}